.text {
    font-family: "breeserif";
    background-color: #BBB9B8;
    background-color: #f29b9b;
}

.l {
    font-weight: bold;
    color: #4E1104;
}

.icon {
    height: 50px;
    width: 50px;
    font-size: 40px;

}

.icon-con {
    border: 5px solid black;
    border-radius: 50PX;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

.brief {
    flex-wrap: wrap;
}

.line {
    border: 3px solid green;
    height: 100%;
}

.h-line {
    border: 3px solid green;
    width: 100%;
    margin-left: 80px;
}

.pro-con {
    display: flex;
    flex-direction: row;
}

.work-details {
    display: flex;
    flex-direction: column;
}

.j {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dot {
    font-size: 10px;
    margin: 2px;
}

.interest-con {
    display: flex;
    flex-direction: row;

}

.icons-con {
    margin-left: 40px;
}

.com {
    border: 5px solid black;
    border-radius: 50PX;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #BEA5A0;

}

.icons {
    font-size: 30px;
}